/* ==== BASE STYLES ====*/

/* ==================== GLOBAL STYLES ======================= */
// @import url('../fonts/roboto/font.css');

@import url('https://rsms.me/inter/inter.css');

html { font-family: 'Inter', sans-serif; font-size: 15px; }

// @supports (font-variation-settings: normal) {
//   html { font-family: 'Inter var', sans-serif; }
// }



/* ========================
INCLUDE STYLES AND COMPONENTS
===================== */

@import "variables-custom"; 

/* ================== HELPERS  =================== */
@import "ui-assets/helpers/mixins";
@import "ui-assets/helpers/helper-classes"; 
@import "ui-assets/helpers/bg";
@import "ui-assets/helpers/typography"; 


/* ================== SECTIONS =================== */
@import "ui-assets/sections/header";
@import "ui-assets/sections/footer";
@import "ui-assets/sections/sidebar";


/* ================== COMPONENTS =================== */
@import "ui-assets/components/plugin-styles";
@import "ui-assets/components/buttons";
@import "ui-assets/components/items";
@import "ui-assets/components/lists";
@import "ui-assets/components/cards-product";
@import "ui-assets/components/elements.scss";
@import "ui-assets/components/menu";
@import "ui-assets/components/forms";

/* ================== PAGES =================== */
@import "ui-assets/pages/page-account";
@import "ui-assets/pages/page-base";
@import "ui-assets/pages/page-home";
@import "ui-assets/pages/page-detail";
@import "ui-assets/pages/page-listing";
@import "ui-assets/pages/page-order";


/* ========================
Bootstrap with custom variables
=================== */
// We'll include bootstrap variables to override bootstrap variables,

@import "variables-custom";

// @import "bootstrap-assets/bootstrap";  




@import "variables-custom";

.mobile-block{ display:none }

@media (max-width: 1200px) {
	/* tablet devices */

}

@media (max-width: 992px) {
	/* small tablet devices */
	.slider-main{
		.item-slide{height:auto}
	}

	


	.table-shopping-cart{
		tr td:first-child{ width:250px; }
		 .itemside{
		 	.info{padding: 0}
		 	.aside{  display:none; }
		 }

		
	}
	
}

@media all and (max-width:768px) {   
	/* mobile devices */
	.section-header{
		.search{ margin-top:1rem; margin-bottom: 1rem;}
	}

	.item-feature{ margin-bottom:20px; }

	.mobile-order-first{ order:-1; }
	.mobile-order-1{ order:1; }
	.mobile-order-2{ order:2; }
	.mobile-order-3{ order:3; }


	.mobile-block{ display: block }
	.section-header{
		.logo{max-height:40px; width:auto; }
		.search{ margin-top:1rem; }

	}

	.navbar-expand{
		.navbar-collapse{
			flex-direction: column;
		}
	}




	
}

// BOOTSTRAP Override Variables


.card{ 
    .img-wrap{overflow:hidden; }
}

.icontext{
    display: inline-flex; align-items: center;  vertical-align: middle;
    p{ margin-bottom:0; }
    .text{ width: 100%; line-height:$line-height-sm; color:$dark; }
    .icon{position:relative;   margin-right:10px; flex-shrink:0; flex-grow:0;}
    .title{ display:block; margin-bottom:0;} 
}

.tag{
  display: inline-block; padding:3px 7px; background:#f2f2f2; border:1px solid #eee; border-radius:3px; margin-top:4px; margin-right: 2px; font-size:85%;
}

.item-logo{ margin-bottom:20px; text-align:center;
  img{max-height:65px;}
}

.notify{
  position: absolute;
  top: -4px;  right: -10px;
  display: inline-block;
  padding: .25em .6em;
  font-size: 12px;  line-height: 1;  text-align: center;
  border-radius: 3rem;  color: #fff;  background-color:$red;
}

.price{ font-weight: 600; color:$dark; }
.price-old{color:$text-muted; margin-left:3px; font-size:85%; }

.icon-control{margin-top:5px; float:right; font-size:80%}

.card-header{
    .title{ margin-bottom:0; line-height:1.5}
}

.filter-group{ border-bottom:1px solid $border-color;
  .card-header{border-bottom:0;  }
  &:last-child{border-bottom:0}
}

/* ====================== block ==================== */
.box{
  padding:20px; background:#fff; 
  border-radius:$border-radius; border:1px solid $border-color;
  img{ max-width: 100%;  }
}


/* ================= RATINGS ============== */
.label-rating{margin-left:7px; display:inline-block; vertical-align:middle}


/* rating-list */
.rating-stars{display:inline-block; vertical-align:middle; list-style:none; margin:0; padding:0; position:relative; 
    white-space: nowrap; clear:both;
    i{ font-size:14px; color:#ccc; display:inline;}
    li{display:block;  text-overflow:clip;  white-space:nowrap; z-index:1; }
  
    li.stars-active{z-index:2; position:absolute; top:0; left:0; overflow: hidden;
        i{color:orange;}
    }
}


/* ================= TRACKING ============== */
.tracking-wrap {
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px;
    .step {
      flex-grow: 1;
      width: 25%;
      margin-top: -18px;
      text-align: center;
      position: relative; }
    .step::before {
      height: 7px;
      position: absolute;
      content: "";
      width: 100%;
      left: 0;
      top: 18px }
    .icon {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      position: relative;
      border-radius: 100%;
      background: #ddd; }
    .text {
      display: block; margin-top:7px; 
    }
    .step.active .icon {
      background: $primary;
      color: #fff; }
    .step.active .text {
      font-weight: 400;
      color: #000; }
    .step.active:before {
      background: $primary; 
    }
}

